{% extends 'layout/main.html.twig' %}
{% block title %}Files{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables css-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
    <!-- Propeller dataTables css-->

    <link rel="stylesheet" type="text/css" href="{{ asset('components/data-table/css/pmd-datatable.css') }}">
{% endblock %}
{% block body %}
    <div id="content" class="pmd-content inner-page">
        <div class="container-fluid full-width-container data-tables">
            <!-- Title -->
            <h1 class="section-title" id="services">
            </h1><!-- End Title -->

            <!--breadcrum start-->
            <ol class="breadcrumb text-left">
                <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
                <li class="active">Files</li>
            </ol><!--breadcrum end-->

            <section class="row component-section">
                <div class="col-md-12">
                    <!-- responsive table example -->
                    <div class="pmd-card pmd-z-depth pmd-card-custom-view">
                        <table id="example" class="table pmd-table table-hover table-striped display responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th></th>
                                <th>Link on category</th>
                                <th>Link on site</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for file in files  %}
                                <tr>
                                    <td>{{ file.getFileName() }}</td>
                                    <td></td>
                                    <td class="category-link"><a target="_blank" href="{{ file.getCategory().getLink() }}">{{ file.getCategory().getName() }}</a></td>
                                    <td class="category-link">{{ file.getCategory().getSiteName() }}</td>
                                    <td class="category-link">{{ file.getDate() }}</td>
                                    <td>
                                        <a href="/admin/files/{{ file.getFileName() }}"  target="_blank" class="fas fa-link"></a>
                                        <button class="delete_file" data-id="{{ file.getId() }}">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- responsive table example end -->

                </div> <!-- responsive table code and example end-->
            </section> <!-- Responsive table end -->
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- Datatable js -->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <!-- Datatable Bootstrap -->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

    <!-- Datatable responsive js-->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>

    <!-- Datatable select js-->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
    <!-- Responsive Data table js-->

    <script src="{{ asset('assets/js/script.js') }}"></script>
{% endblock %}
