{% extends 'layout/main.html.twig' %}
{% block title %}SunLine Products{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables css-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
    <!-- Propeller dataTables css-->

    <link rel="stylesheet" type="text/css" href="{{ asset('components/data-table/css/pmd-datatable.css') }}">
{% endblock %}
{% block body %}
    <div id="content" class="pmd-content inner-page">
        <div class="container-fluid full-width-container data-tables">
            <!-- Title -->
            <h1 class="section-title" id="services">
            </h1><!-- End Title -->

            <!--breadcrum start-->
            <ol class="breadcrumb text-left">
                <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
                <li class="active">Sun Line Products</li>
            </ol><!--breadcrum end-->

            <button data-target="#generate_csv_from-products" data-toggle="modal" class="btn pmd-ripple-effect btn-primary pmd-z-depth" type="submit">
                Generate CSV
            </button>

            <section class="row component-section">
                <div class="col-md-12">
                    <!-- responsive table example -->
                    <div class="pmd-card pmd-z-depth pmd-card-custom-view">
                        <table id="example" class="table pmd-table table-hover table-striped display responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th></th>
                                <th>Link on product category</th>
                                <th>Image</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="products-table">
                            {% for product in products  %}
                                <tr>
                                    <td>{{ product.getName() }}</td>
                                    <td></td>
                                    <td class="category-link"><a target="_blank" href="{{ product.getCategory().getLink() }}">{{ product.getCategory().getName() }}</a></td>
                                    <td><a href="{{ product.getImage() }}" target="_blank"><img src="{{ product.getImage() }}" alt=""></a></td>
                                    <td>
                                        <a href="{{ product.getLink() }}"  target="_blank" class="fas fa-link"></a>
                                        <button class="delete_product" data-id="{{ product.getId() }}">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- responsive table example end -->

                </div> <!-- responsive table code and example end-->
            </section> <!-- Responsive table end -->
        </div>
    </div>
    <div tabindex="-1" class="modal fade" id="generate_csv_from-products" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <div class="media-body media-middle">
                        <h3 class="pmd-card-title-text">Click to generate button for start generation</h3>
                        <span class="pmd-card-subtitle-text"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success generate_report">Generate</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- Datatable js -->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <!-- Datatable Bootstrap -->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

    <!-- Datatable responsive js-->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>

    <!-- Datatable select js-->
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>
    <!-- Responsive Data table js-->

    <script src="{{ asset('assets/js/script.js') }}"></script>
{% endblock %}
